<!--<div class="container">-->
<div class="header">
  <div class="header-container">
    <div class="title">
      <h2>Ökogram | IMA Project</h2>
    </div>
    <div class="menuBar" *ngIf="this.isAuthenticated">
      <!--      <button class="navButton" *ngIf="this.isAuthenticated" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>-->
      <mat-toolbar class="menuToolBar">
        <button mat-button routerLink="posting">Newsfeed</button>
        <button mat-button routerLink="posting">Recent Posts</button>
        <button mat-button routerLink="posting/write">Search</button>
        <!--<button mat-button routerLink="logout">Logout</button>-->
      </mat-toolbar>
      <app-logout></app-logout>
    </div>
  </div>
</div>
<div class="contentBody">
  <div class="flexBox-container">
    <div *ngIf="!this.isAuthenticated" class="profile">
      <app-register></app-register>
    </div>
    <div class="flexBox-container">
      <div *ngIf="this.isAuthenticated" class="profile">
        <app-profile></app-profile>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer">
    <app-write-mail></app-write-mail>
    <!--<app-footer></app-footer>-->
  </div>
</div>
