<div class="container">
  <div class="body">
    <div class="header">
      <div class="header-container">
        <div *ngIf="this.isAuthenticated" class="profileSmall">
          <button mat-icon-button (click)="profileSmall()">
            <i *ngIf="this.opened" class="material-icons"> arrow_drop_down </i>
            <i *ngIf="!this.opened" class="material-icons"> arrow_right </i>
          </button>
          <app-profile-small *ngIf="!this.opened"></app-profile-small>
        </div>
        <div class="logo">
          <img *ngIf="!this.isAuthenticated" src="../assets/Instagreen.png" height="60px"/>
          <a *ngIf="this.isAuthenticated" [routerLink]="['/posting']">
            <img src="../assets/Instagreen.png" height="60px"/>
          </a>
        </div>
        <div class="menuBar" *ngIf="this.isAuthenticated">
          <mat-toolbar class="menuToolBar">
            <button mat-button routerLink="posting">Newsfeed</button>
            <button mat-button routerLink="posting/1">Recent Posts</button>
            <button mat-button routerLink="community">Community</button>
          </mat-toolbar>
          <app-logout></app-logout>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="flexBox-container">
        <div class="register" *ngIf="!this.isAuthenticated">
          <app-register></app-register>
        </div>
        <div class="profile" *ngIf="this.isAuthenticated && this.opened">
          <app-profile></app-profile>
        </div>
        <div class="contentBody">
          <div class="content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>© 2020 Instagreen</p>
  </div>
</div>



