.header {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: center;*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 2px 2px grey;
  /*flex-grow: 0;
  height: 5rem;
  min-height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;*/
}
.header > * {
  flex-grow: 1;
  flex-shrink: 1;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //padding: 30px;
  background-color: #9DBF54;
}
/*.header-container > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
}*/
.profileSmall {
   display: flex;
   flex-basis: 300px;
   flex-shrink: 1;
   flex-grow: 0;
   align-items: center;
   justify-content: center;
   color: #467302;
   height: 65px;
 }
.profileSmall > * {
  // display: flex;
  align-items: center;
}
.title {
  display: flex;
  flex-basis: 450px;
  flex-shrink: 1;
  flex-grow: 0;
  justify-content: center;
  color: #467302;
}
.menuBar {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 600px;
  align-items: center;
  justify-content: center;
}
/*.menuBar > * {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50px;
}*/
.menuToolBar {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: #9DBF54;
}
.menuToolBar > * {
  //background-color: #97BF04;
  color: #467302;
}
.contentBody {
  padding-top: 65px;
  width: 100%;
}
.flexBox-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-basis: 300px;
   flex-grow: 0;
}
/*.flexBox-container > * {
   margin-top: 80px ;
}*/
.profile{
  display: flex;
  flex-basis: 450px;
  flex-shrink: 1;
  flex-grow: 0;
  justify-content: center;
  background-color: #F2F2F2;
}

.login {
  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
}

.posting {
  background-color: #F2F2F2;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 600px;
  flex-wrap: wrap;
  justify-content: center; //funktioniert nur, wenn display: flex
  margin-top: 35px;
}

.footer {
  background-color: #9DBF54;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}

mat-tab {
  font-family: 'Merriweather', serif;
}
