mat-grid-tile {
  background: lightgray;
}
.text-inside-grid {
  position: absolute;
  top: 5px;
  font-family: 'Merriweather', serif;
}
.icons {
  position: absolute;
  right: 5px;
}

mat-tab {
  margin-top: 100px;
  font-family: 'Merriweather', serif;
}



