<mat-grid-list cols="3" rowHeight="5%" >
  <mat-grid-tile colspan="3">FH IMA Project -> ÖkoGram</mat-grid-tile>
  <mat-grid-tile colspan="1">
    <div class="icons">
      <app-profile-icons></app-profile-icons>
    </div></mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="4"><app-write-posting></app-write-posting></mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="10"><app-profile></app-profile></mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="30" >
    <div class="text-inside-grid">
    <mat-tab-group>
      <mat-tab label="Recent Posts"><app-posting></app-posting> </mat-tab>
      <mat-tab label="Search"> <app-search></app-search> </mat-tab>
      <mat-tab label="Profiles"> <app-profile></app-profile> </mat-tab>
    </mat-tab-group>
      </div>
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
