
mat-tab {
  font-family: 'Merriweather', serif;
}
.flexBox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flexBox-container > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 400px;
}
/*
.top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.top-container > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
} */

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 400px;
}

.login {
  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
}


.rightCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post {

}
.writePost {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: center;
}


.profile {
  display: flex;
  justify-content: center;
  background-color: rgba(63,81,181,0.5);

  border-radius: 30px;
  padding-top: 50px;
  margin-left: 12% ;
  margin-right: 12%;

}

.footer {
  background-color: lightgray;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}
