.example-card {
  //max-width: 90%;
  margin-left: 50px ;
  margin-right: 50px;
  font-family: 'Merriweather', serif;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
