<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
     <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="accent"><mat-icon>favorite</mat-icon></button>
    <button mat-icon-button color="accent"><mat-icon>favorite_border</mat-icon></button>
  </mat-card-actions>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Comments

      </mat-panel-title>
      <mat-panel-description>
        Click to {{panelOpenState ? 'close' : 'open'}} comments
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="comments">
      <img src="../../assets/img_avatar.png" height="25px" style="border-radius: 50%;">
      <p>This is a comment</p>

      <p>Second comment</p>
      <p>Comment: <input type="text" name="test" placeholder="write a comment"></p>
    </div>
  </mat-expansion-panel>


</mat-card>
