.profile{
  background-color: aliceblue;
  /*display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 3rem auto;*/
}
img {
  border-radius: 50%;
}
p {
  font-family: 'Merriweather', serif;
} /*
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20px;
}
*/
