
<div class="profile">
  <div class="actions">
    <button mat-icon-button (click)="changeProfile()">
      <i class="material-icons">
        create
      </i>
    </button>
    <button mat-icon-button (click)="friends()">
      <i class="material-icons">
        group
      </i>
    </button>
    <!--<img (click)="changeProfile()" class="icon" src="../../assets/edit_icon.png" height="20px">-->
    <!--  <img class="icon" src="../../assets/friendship_icon.png" height="20px">-->
  </div>
  <img src="../../assets/img_avatar.png" height="100px">
  <p class="name">{{fullName}}</p>
  <div class="scoreBox">
    <p class="score">{{greenScore}}</p>
  </div>
  <!--<p class="information">last Activity</p>-->
</div>


