.header {
  background-color: #9DBF54;
}
.dropzone {
  width: 100%;
  border: dotted 1px #aaa;
}
.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.centered {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align:center;
  color:lightgrey;
}
