<mat-card class="card">
  <mat-card-header class="cardHeader">
    <mat-card-title class="cardTitle">Beitrag erstellen</mat-card-title>
  </mat-card-header>
  <form class="cardForm" [formGroup]="writePostFormGroup">

    <mat-form-field class="textArea">
      <div class="textArea">
        <button mat-button *ngIf="contentValue" matSuffix mat-icon-button aria-label="Clear" (click)="contentValue=''">
          <mat-icon>close</mat-icon>
        </button>
        <textarea class="textArea" matInput rows="6" name="message" formControlName="content"
                  [(ngModel)]="contentValue" placeholder="Was hast du zu sagen?" required>
        </textarea>
      </div>
      <mat-hint align="end"></mat-hint>
    </mat-form-field>
    <br/>
    <div class="activitiy">
      <mat-form-field class="activityOptions">
        <mat-select placeholder="Activity" formControlName="activity" required>
          <mat-option [value]="activityOption.id"
                      *ngFor="let activityOption of activityOptions" >{{activityOption.name}}</mat-option>
        </mat-select>
        <mat-hint align="end">Type of your activity</mat-hint>
      </mat-form-field>

      <mat-card-actions>
        <button mat-button  (click)="showAddActivity=!showAddActivity" *ngIf="userService.hasPermission('gram.add_activity')">
          <i class="material-icons">
            add
          </i>
          Add activities
        </button>
      </mat-card-actions>
      </div>
      <div *ngIf="showAddActivity">
        <form [formGroup]="activityFormGroup">
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Activity Name" required type="text">
            <mat-hint align="end">Name of the Activity</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="description" matInput placeholder="Activity Description" required type="text">
            <mat-hint align="end">Describe the Activity</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="greenscore" matInput placeholder="Activity Greenscore" required type="number">
            <mat-hint align="end">Greenscore of the Activity</mat-hint>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="!activityFormGroup.valid" (click)="createActivity()">Create Activity</button>
        </form>
      </div>


    <div>
      <app-mediainput formControlName="pictures" text="DROP your Picture here!"></app-mediainput>
    </div>
  </form>

  <br/>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" (click)="showWebcam = !showWebcam">Show Webcam</button>
    <button mat-raised-button color="primary" [disabled]="!writePostFormGroup.valid" (click)="createPosting()">
      <span>Create</span>
    </button>
  </mat-card-actions>


  <div class="centered" *ngIf="showWebcam">
    <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" height="200" width="200"></webcam>
    <br>
    <button mat-raised-button color="primary" (click)="takePicture()">Take Picture!</button>

    <img [src]="webcamImage.imageAsDataUrl" *ngIf="webcamImage" height="200" width="200"/>
  </div>

</mat-card>
<!--<textarea name="message" rows="10" cols="60">
... Write Post ...
</textarea>-->


<!--<div *ngIf="!files.length" class="col-12 rmpm dropzone" appDrag (files)="filesDropped($event)">
  <div class="text-wrapper">
    <div class="centered">Drop your images here!</div>
  </div>
</div>-->
<!--droped image preview-->
<!--<div *ngFor="let file of files">
  <img *ngIf="file" [src]="file.url" width="100px" height="100px">
</div>-->


