.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px grey;
}
.cardHeader {
  // display: flex;
}
.cardForm {
  // display: flex;
}
.textArea {
  width: 100%;
}
.activitiy {
  display: flex;
}
.activityOptions {
  width: 50%;
  margin-right: auto;
}
/*.dropzone {
  width: 100%;
  border: dotted 1px #aaa;
}
.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}*/
.centered {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align:center;
  color:lightgrey;
}
