<div>
  <input matInput id="search" type="search" [(ngModel)]="search" placeholder="Search">
  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
</div>
<table mat-table [dataSource]="followersAll | filter:search" matSort>
  <ng-container matColumnDef="pictures">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let profile">
      <div class="picture">
        <a class="link" [routerLink]="['/profile', profile.id]">
          <img *ngIf="!profile.pictures.length" src="../../assets/default_avatar.png">
          <img *ngIf="profile.pictures.length" src="api/media/{{profile.pictures}}">
        </a>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let profile">
      <a class="link" [routerLink]="['/profile', profile.id]">{{profile.username}}</a>
      <br/>
      {{profile.first_name}} {{profile.last_name}}
    </td>
  </ng-container>

    <ng-container matColumnDef="greenscore">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GreenScore</th>

      <td mat-cell *matCellDef="let profile">
        <div class="score">{{profile.greenscore}} <i class="material-icons">eco</i></div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actionFollow">
      <th mat-header-cell *matHeaderCellDef>Follow</th>
      <td mat-cell *matCellDef="let profile">
        <button mat-button (click)="removeFollow(profile)"
                *ngIf="finished && followsAlready(profile) && !isItMe(profile)"
                color="accent">
          <i class="material-icons">person_add_disabled</i>
        </button>
        <button mat-button (click)="follow(profile)" *ngIf="finished && !followsAlready(profile) && !isItMe(profile) "
                color="primary">
          <i class="material-icons">person_add</i>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="actionBlock">
      <th mat-header-cell *matHeaderCellDef>Block</th>
      <td mat-cell *matCellDef="let profile">
        <button mat-button (click)="block(profile)" *ngIf="finished && !blocksAlready(profile) && !isItMe(profile) "
                color="accent">
          <i class="material-icons">block</i>
        </button>
        <button mat-button (click)="removeBlock(profile)"
                *ngIf="finished && blocksAlready(profile) && !isItMe(profile)"
                color="primary">
          <i class="material-icons">lens</i>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


