<div>
  <input matInput id="search" type="search" [(ngModel)]="search" placeholder="Search">
  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
</div>
<table mat-table class="table" [dataSource]="followersAll | filter:search" matSort>
  <ng-container matColumnDef="pictures">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let profile">
      <div class="picture">
        <a class="link" [routerLink]="['/profile', profile.id]">
          <img *ngIf="!profile.pictures.length" src="../../assets/default_avatar.png">
          <img *ngIf="profile.pictures.length" src="api/media/{{profile.pictures}}">
        </a>
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let profile">
      <span class="mobile-label">Name: </span>
      <p>
        <a class="link" [routerLink]="['/profile', profile.id]">{{profile.username}}</a>
        <br/>
        {{profile.first_name}} {{profile.last_name}}
      </p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="greenscore">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Score</mat-header-cell>
    <mat-cell *matCellDef="let profile">
      <span class="mobile-label">Score: </span>
      <div class="score">{{profile.greenscore}} <i class="material-icons">eco</i></div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actionFollow">
    <mat-header-cell *matHeaderCellDef>Follow</mat-header-cell>
    <mat-cell *matCellDef="let profile">
      <span *ngIf="!isItMe(profile)" class="mobile-label">Follow: </span>
      <button mat-button (click)="removeFollow(profile)" *ngIf="finished && followsAlready(profile) && !isItMe(profile)"
              color="accent">
        <i class="material-icons">person_add_disabled</i>
      </button>
      <button mat-button (click)="follow(profile)" *ngIf="finished && !followsAlready(profile) && !isItMe(profile) "
              color="primary">
        <i class="material-icons">person_add</i>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actionBlock">
    <mat-header-cell *matHeaderCellDef>Block</mat-header-cell>
    <mat-cell *matCellDef="let profile">
      <span *ngIf="!isItMe(profile)" class="mobile-label">Block: </span>
      <button mat-button (click)="block(profile)" *ngIf="finished && !blocksAlready(profile) && !isItMe(profile) "
              color="accent">
        <i class="material-icons">block</i>
      </button>
      <button mat-button (click)="removeBlock(profile)" *ngIf="finished && blocksAlready(profile) && !isItMe(profile)"
              color="primary">
        <i class="material-icons">lens</i>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
<mat-paginator [length]="followersAll.length" [pageSize]="5"></mat-paginator>


