#search {
  margin-left: 5%;
  width: 50%;
  background-color: #E6E6E6;
}

@media(min-width: 580px) {
  .mobile-label {
    display: none;
  }
  .table {
    width: 100%;
    box-shadow: 2px 2px grey;
  }
  .picture {
    margin-left: 20px;
    height: 100px;
    width: 100px;
  }
  .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .mat-header-cell {
    font-weight: bold;
    font-size: 20px;
  }
  .mat-cell {
    padding: 0 15px;
  }
  .link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  .score {
    text-align: center;
    color: #467302;
    font-weight: bold;
    font-size: 20px;
  }
  .scoreIcon {
    color: #467302;
  }
  .mat-row {
    height: 120px;
  }
}

@media(max-width: 579px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }
  .table {
    width: 100%;
    box-shadow: 2px 2px grey;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
  .picture {
    width: 100px;
    height: 100px;
  }
  .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
