.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  background-color: #9DBF54;
}
.header-container > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
}

.title {
  display: flex;
  justify-content: center;
  width: 10%;
}

.login {
  display: flex;
  justify-content: center;
}

