<div class="profileDetail">
  <mat-card class="card">
    <div class="horizontal">
      <div class="profileInfo">
        <img *ngIf="!picture" src="../../assets/img_avatar.png">
        <img *ngIf="picture" src="api/media/{{picture}}">
        <div class="name">
          <p class="username">{{profile.username}}</p>
          <p class="fullname">{{profile.first_name + ' ' + profile.last_name}}</p>
        </div>
      </div>
      <div class="friendshipButtons">
        <button mat-button *ngIf="!following && !myProfile" class="controlButton" (click)="changeFollowingState()">
<!--          <i *ngIf="!following" class="material-icons">emoji_nature</i>-->
          <i class="material-icons">check_circle_outline</i>
          <span> Follow</span>
        </button>
        <button mat-button *ngIf="following && !myProfile" class="controlButtonActive" (click)="changeFollowingState()">
<!--          <i *ngIf="following" class="material-icons">local_florist</i>-->
          <i class="material-icons">check_circle</i>
          <span> Followed</span>
        </button>
        <button mat-button *ngIf="finishedBlockings && !blocking && !myProfile" class="controlButton" (click)="changeBlockingState()">
          <i class="material-icons">block</i>
          <span> Block</span>
        </button>
        <button mat-button *ngIf="finishedBlockings && blocking && !myProfile" class="controlButtonActive" (click)="changeBlockingState()">
          <i class="material-icons">sentiment_very_dissatisfied</i>
          <span> Unblock</span>
        </button>
      </div>
    </div>
    <mat-card-content class="bio">{{profile.bio}}</mat-card-content>
    <div class="profileBar">
      <a [routerLink]="['/followers']"><div class="infoBox" *ngIf="finishedLoadFollowers">FOLLOWER <br/> {{followersCount}}</div></a>
      <div class="infoBox">GREENSCORE <br/> {{profile.greenscore}}</div>
      <div class="infoBox" *ngIf="finishedLoadFollowings">FOLLOWING <br/> {{followingsCount}}</div>
    </div>
  </mat-card>
  <div class="posts">
    <app-posting [postByUserID]="profile.id"></app-posting>
  </div>
</div>



