<form [formGroup]="profileFormGroup" class="profile-form">
  <mat-form-field>
    <input formControlName="username" matInput placeholder="Username" required type="text">
    <mat-hint align="end">Type in your username</mat-hint>
    <mat-error *ngIf="profileFormGroup.controls.username.hasError('required')">Username is required</mat-error>
    <mat-error *ngIf="profileFormGroup.controls.username.hasError('usernameAlreadyExists')"> This username already exists
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="email" matInput placeholder="E-Mail" required type="text">
    <mat-hint align="end">Type in your e-mail</mat-hint>
    <mat-error *ngIf="profileFormGroup.controls.email.hasError('required')">E-Mail is required</mat-error>
    <mat-error *ngIf="profileFormGroup.controls.email.hasError('emailAlreadyExists')"> This email already exists
    </mat-error>
    <mat-error *ngIf="profileFormGroup.controls.email.hasError('pattern')"> Please enter a valid E-Mail address
    </mat-error>
  </mat-form-field>
  <app-date [required]="true" formControlName="date_of_birth" hint="Your birthday!"
            placeholder="Date of birth"></app-date>
  <div *ngIf="age !== undefined">Age: {{age}}</div>
  <mat-form-field>
    <textarea formControlName="bio" matInput placeholder="Biography"></textarea>
    <mat-hint align="end">Your biography</mat-hint>
  </mat-form-field>
  <div>
    <app-mediainput formControlName="pictures"></app-mediainput>
  </div>
  <br/>
  <mat-card-actions align="center">
    <button (click)="updateProfile()" [disabled]="!profileFormGroup.valid" color="primary" mat-raised-button>
      <span *ngIf="profileFormGroup.controls.id.value">Update</span>
    </button>
  </mat-card-actions>
</form>


