.profile-form{
  justify-content: center;
  margin-left: 50px;
  padding: 50px;
  border-style: solid;
  border-color: #467302;
  // border-radius: 30px;
}

.textArea {
  width: 100%;
  background-color: #FFFFFF;
}

.inputField {
  width: 100%;
}
