.register {
  justify-content: center;
  margin: 5%;
  padding: 5%;
  border-style: solid;
  border-color: #467302;
}
.textArea {
  width: 100%;
  background-color: #F9F9F9;
}

.inputField {
  width: 100%;
}
