.register {
  justify-content: center;
  margin: 50px;
  padding: 50px;
  border-style: solid;
  border-color: #467302;
}
.textArea {
  width: 100%;
  background-color: #FFFFFF;
}

.inputField {
  width: 100%;
}
